<div class="row about-wrapper">
  <div class="col-md-4">
    <img class="img-responsive" src="{{person.logoPath}}" alt="">
  </div>
  <div class="col-md-8">
    <h1>{{person.name}}</h1>
    <p>{{person.speech}}</p>
    <p class="about-heading">Skills:</p>
    <ul>
      <li *ngFor="let skill of person.skills">{{skill}};</li>
    </ul>
    <p class="about-heading">Education:</p>
    <ul>
      <li>{{person.education}}</li>
    </ul>
    <p class="about-heading">Certifications:</p>
    <ul>
      <li *ngFor="let certification of person.certifications">{{certification}};</li>
    </ul>
  </div>
</div>
