<div class="contacts col-md-6">
  <h3>Let's work together</h3>
  <form class="contacts-form" action="mailto:ivasenko.iren@gmail.com" method="post" enctype="text/plain">
    <div class="contacts-wrapper">
      <p class="contacts-input-name">Your name<br><input class="contacts-input" type="text" name="name" placeholder="Name"></p>
      <p class="contacts-input-mail">Your e-mail<br><input class="contacts-input" type="email" name="mail" placeholder="E-mail"></p>
    </div>
    <div class="contacts-input-text">Tell me about your project<br><textarea class="contacts-input" placeholder="Message" name="" id="" cols="30" rows="7"></textarea></div>
    <button class="contacts-btn" type="submit" value="Send">Send</button>
  </form>
</div>
<div class="location col-md-6">
  <h3>Contacts</h3>
  <div>
    <div class="wrapper-logo-img"><img class="logo-img" src="../../assets/img/logo.jpg" alt="#"><span>Iryna Ivasenko</span></div>
    Phone: {{person.tel}} <br>
    E-mail: <a href="mailto:ivasenko.iren@gmail.com">{{person.email}}</a><br>
    Skype: <a href="skype:irina_ivasenko?call" onclick="return skypeCheck()"></a><a href="skype:irina_ivasenko?call" onclick="return skypeCheck()">{{person.skype}}</a>
</div>
</div>
