<div class="row detail-img">
  <div class="col-xs-12">
    <img src="{{selectedWork?.imgPath}}"
         alt="{{selectedWork?.imgPath}}"
         class="img-responsive">
  </div>
</div>
<div class="row detail-heading">
  <div class="col-xs-12">
    <h1>{{selectedWork?.name}}</h1>
  </div>
</div>
<div class="row detail-description">
  <div class="col-xs-12">
    <p>Technology Stack: {{selectedWork?.techStack}}</p>
    <p>Link on Github: <a target="_blank" href="{{selectedWork?.linkGH}}">{{selectedWork?.linkGH}}</a></p>
  </div>
</div>
